body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #333;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #CE381C;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

h1>.scrollto>span {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

/* ------------------------------------- 
#Header
------------------------------------- */
#header {
  height: 110px;
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.left-nav,
.left-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-nav>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.left-nav>ul>li>a>img {
  display: block;
  position: relative;
  padding: 10px 0px;
  transition: 0.3s;
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #333333;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
  color: #CE381C;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  margin-top: 1em;
}

.main-nav .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #333;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
  color: #CE381C;
}

.main-nav .drop-down>a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% -30px);
}

.main-nav .drop-down .drop-down:hover ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down>a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down>a::after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(26, 27, 27, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\f077";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #CE381C;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(26, 27, 27, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f8fd url("./bag-slider0.jpg") center top no-repeat;
  background-size: cover;
}

#intro .intro-info h2 {
  color: #333;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info span {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

#intro .intro-info .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #CE381C;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: rgb(28, 126, 206);
}

/* OWL Item
--------------------------------*/
.owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.owl-item {
  width: 20%;
  height: 148.36px;
  background: #fff;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.owl-item-link {
  text-decoration: none;
  color: #222;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.owl-item-link h3 {
  margin-top: 13px;
  margin-bottom: 0px;
  font-size: 1em;
  font-weight: 500;
}

.owl-item-link h3:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
/* For PC */
@media (min-width: 991px) {
  .w-55 {
    width: 55% !important;
  }

  .w-40 {
    width: 40% !important;
  }


}

/* For Mobile */
@media (max-width: 720px) {
  .owl-stage {
    justify-content: end;

  }

  .owl-item {
    width: 50%;
  }
}