.Header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.Header h1 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   color: blue;
}